.container {
    width: 1200px;
    margin: 0px auto;
  }
  
  .articlewrapper {
    max-width: 600px;
    margin: 0px auto;
    text-align: center;
  }
  
  .articlewrapper h1 {
    padding: 50px 0 30px;
  }

  .profilelink {
  	text-decoration: none;
  }

  .profilelink:hover, 
  .profilelink:visited:hover {
    background-color: #FFF;
    color: rgb(235, 143, 57);
  }

  .profilelink:visited {
    color: gray;
  }

